

body {
  padding-top: 50px;
  font-family: 'Helvetica Neue'
}

.intro {
  padding: 40px 15px;
  	text-align: center;
}

.intro h1 {
	letter-spacing: 1px;

}

.lead {
	letter-spacing: 10px;
	text-transform: italic;
}
.img-circle{
	width: 200px;
	height: 200px;
}

.row-padded{
	padding-bottom: 20px;
}
